<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- ===================== -->
  <!-- Materials -->
  <!-- ===================== -->


  <material name="arm_gray">

    <color rgba="0.55 0.55 0.55 1"/>

  </material>



  <material name="hand_black">

    <color rgba="0.1 0.1 0.1 1"/>

  </material>



  <!-- ===================== -->
  <!-- Arm Macro -->
  <!-- ===================== -->


  <xacro:macro name="arm"
               params="prefix">



    <!-- ================= -->
    <!-- Upper Arm -->
    <!-- ================= -->


    <link name="${prefix}_upper_arm">


      <visual>


        <geometry>

          <cylinder
            radius="0.06"
            length="0.30"/>


        </geometry>


        <origin
          xyz="0 0 -0.15"/>


        <material name="arm_gray"/>


      </visual>




      <collision>


        <geometry>

          <cylinder
            radius="0.06"
            length="0.30"/>


        </geometry>


        <origin
          xyz="0 0 -0.15"/>


      </collision>




      <inertial>


        <mass value="1.2"/>


        <origin
          xyz="0 0 -0.15"/>


        <inertia

          ixx="0.012"

          ixy="0"

          ixz="0"

          iyy="0.012"

          iyz="0"

          izz="0.004"/>


      </inertial>


    </link>





    <!-- ================= -->
    <!-- Forearm -->
    <!-- ================= -->


    <link name="${prefix}_forearm">


      <visual>


        <geometry>

          <cylinder

            radius="0.05"

            length="0.28"/>


        </geometry>


        <origin

          xyz="0 0 -0.14"/>


        <material name="arm_gray"/>


      </visual>




      <collision>


        <geometry>

          <cylinder

            radius="0.05"

            length="0.28"/>


        </geometry>


        <origin

          xyz="0 0 -0.14"/>


      </collision>




      <inertial>


        <mass value="0.8"/>


        <origin

          xyz="0 0 -0.14"/>


        <inertia

          ixx="0.008"

          ixy="0"

          ixz="0"

          iyy="0.008"

          iyz="0"

          izz="0.002"/>


      </inertial>


    </link>





    <!-- ================= -->
    <!-- Hand -->
    <!-- ================= -->


    <link name="${prefix}_hand">


      <visual>


        <geometry>


          <box size="0.16 0.10 0.08"/>


        </geometry>


        <origin

          xyz="0 0 -0.04"/>


        <material name="hand_black"/>


      </visual>




      <collision>


        <geometry>


          <box size="0.16 0.10 0.08"/>


        </geometry>


        <origin

          xyz="0 0 -0.04"/>


      </collision>




      <inertial>


        <mass value="0.3"/>


        <origin

          xyz="0 0 -0.04"/>


        <inertia

          ixx="0.002"

          ixy="0"

          ixz="0"

          iyy="0.002"

          iyz="0"

          izz="0.001"/>


      </inertial>


    </link>



  </xacro:macro>


</robot>
