<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- ================= -->
  <!-- Materials -->
  <!-- ================= -->


  <material name="head_gray">

    <color rgba="0.65 0.65 0.65 1"/>

  </material>


  <material name="sensor_black">

    <color rgba="0.05 0.05 0.05 1"/>

  </material>



  <!-- ================= -->
  <!-- Head Macro -->
  <!-- ================= -->


  <xacro:macro name="head">



    <!-- Neck -->


    <link name="neck_link">


      <visual>

        <geometry>

          <cylinder
            radius="0.08"
            length="0.15"/>

        </geometry>


        <origin
          xyz="0 0 -0.075"/>


        <material name="head_gray"/>


      </visual>



      <collision>

        <geometry>

          <cylinder
            radius="0.08"
            length="0.15"/>

        </geometry>


        <origin
          xyz="0 0 -0.075"/>


      </collision>



      <inertial>


        <mass value="0.5"/>


        <origin
          xyz="0 0 -0.075"/>


        <inertia

          ixx="0.002"
          ixy="0"
          ixz="0"

          iyy="0.002"
          iyz="0"

          izz="0.001"/>


      </inertial>


    </link>




    <!-- Head -->



    <link name="head_link">


      <visual>


        <geometry>


          <sphere
            radius="0.16"/>


        </geometry>



        <origin
          xyz="0 0 0"/>



        <material name="head_gray"/>


      </visual>




      <collision>


        <geometry>


          <sphere
            radius="0.16"/>


        </geometry>


        <origin
          xyz="0 0 0"/>


      </collision>




      <inertial>


        <mass value="1.0"/>


        <origin
          xyz="0 0 0"/>


        <inertia

          ixx="0.01"
          ixy="0"
          ixz="0"

          iyy="0.01"
          iyz="0"

          izz="0.01"/>


      </inertial>



    </link>




    <!-- Neck Joint -->


    <joint name="neck_joint"
           type="revolute">


      <parent link="torso_link"/>


      <child link="neck_link"/>


      <origin

        xyz="0 0 0.35"/>


      <axis

        xyz="0 1 0"/>


      <limit

        lower="-1.0"
        upper="1.0"
        effort="10"
        velocity="1"/>


    </joint>





    <!-- Head Joint -->


    <joint name="head_joint"
           type="fixed">


      <parent link="neck_link"/>


      <child link="head_link"/>


      <origin

        xyz="0 0 0.15"/>


    </joint>




  </xacro:macro>



</robot>

