<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- ================= -->
  <!-- Materials -->
  <!-- ================= -->


  <material name="head_gray">

    <color rgba="0.65 0.65 0.65 1"/>

  </material>


  <material name="neck_dark">

    <color rgba="0.25 0.25 0.25 1"/>

  </material>



  <!-- ================= -->
  <!-- Head Module -->
  <!-- V2.8.0 -->
  <!-- ================= -->


  <xacro:macro name="head">



    <!-- ================= -->
    <!-- Neck -->
    <!-- ================= -->


    <link name="neck_link">


      <visual>

        <geometry>

          <cylinder
            radius="0.06"
            length="0.20"/>

        </geometry>


        <origin
          xyz="0 0 0"/>


        <material name="neck_dark"/>


      </visual>



      <collision>

        <geometry>

          <cylinder
            radius="0.06"
            length="0.20"/>

        </geometry>


        <origin
          xyz="0 0 0"/>

      </collision>



      <inertial>

        <mass value="0.5"/>

        <origin
          xyz="0 0 0"/>


        <inertia
          ixx="0.002"
          ixy="0"
          ixz="0"
          iyy="0.002"
          iyz="0"
          izz="0.002"/>


      </inertial>


    </link>




    <!-- ================= -->
    <!-- Head -->
    <!-- ================= -->


    <link name="head_link">


      <visual>

        <geometry>

          <sphere radius="0.18"/>

        </geometry>


        <origin
          xyz="0 0 0"/>


        <material name="head_gray"/>


      </visual>



      <collision>

        <geometry>

          <sphere radius="0.18"/>

        </geometry>


        <origin
          xyz="0 0 0"/>

      </collision>



      <inertial>

        <mass value="1.0"/>


        <origin
          xyz="0 0 0"/>


        <inertia
          ixx="0.005"
          ixy="0"
          ixz="0"
          iyy="0.005"
          iyz="0"
          izz="0.005"/>


      </inertial>


    </link>




    <!-- ================= -->
    <!-- Neck To Head Joint -->
    <!-- ================= -->


    <joint name="neck_joint"
           type="fixed">


      <parent link="neck_link"/>

      <child link="head_link"/>


      <origin
        xyz="0 0 0.18"/>


    </joint>



  </xacro:macro>



</robot>

