<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- ================================= -->
  <!-- ROS2 Control Interface V3.0.0 -->
  <!-- ================================= -->


  <ros2_control name="HumanoidSystem"
                type="system">


    <hardware>

      <!-- V3.0 使用模拟硬件 -->
      <!-- 后续 V3.2 接 Gazebo -->

      <plugin>
        gz_ros2_control/GazeboSimSystem
      </plugin>

    </hardware>



    <!-- ================= -->
    <!-- Leg Joints -->
    <!-- ================= -->


    <joint name="left_hip_joint">

      <command_interface name="position"/>

      <state_interface name="position"/>
      <state_interface name="velocity"/>

    </joint>



    <joint name="right_hip_joint">

      <command_interface name="position"/>

      <state_interface name="position"/>
      <state_interface name="velocity"/>

    </joint>



    <joint name="left_knee_joint">

      <command_interface name="position"/>

      <state_interface name="position"/>
      <state_interface name="velocity"/>

    </joint>



    <joint name="right_knee_joint">

      <command_interface name="position"/>

      <state_interface name="position"/>
      <state_interface name="velocity"/>

    </joint>



    <!-- ================= -->
    <!-- Arm Joints -->
    <!-- ================= -->


    <joint name="left_shoulder_joint">

      <command_interface name="position"/>

      <state_interface name="position"/>
      <state_interface name="velocity"/>

    </joint>



    <joint name="right_shoulder_joint">

      <command_interface name="position"/>

      <state_interface name="position"/>
      <state_interface name="velocity"/>

    </joint>



    <joint name="left_elbow_joint">

      <command_interface name="position"/>

      <state_interface name="position"/>
      <state_interface name="velocity"/>

    </joint>



    <joint name="right_elbow_joint">

      <command_interface name="position"/>

      <state_interface name="position"/>
      <state_interface name="velocity"/>

    </joint>



    <!-- ================= -->
    <!-- Head -->
    <!-- ================= -->


    <joint name="neck_joint">

      <command_interface name="position"/>

      <state_interface name="position"/>
      <state_interface name="velocity"/>

    </joint>


  </ros2_control>


</robot>
