<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <material name="torso_blue">
    <color rgba="0 0 0.8 1"/>
  </material>


  <xacro:macro name="torso">


    <link name="torso_link">

      <visual>

        <geometry>

          <box size="0.45 0.3 0.55"/>

        </geometry>


        <origin
          xyz="0 0 0"/>


        <material name="torso_blue"/>

      </visual>



      <collision>

        <geometry>

          <box size="0.45 0.3 0.55"/>

        </geometry>


        <origin
          xyz="0 0 0"/>

      </collision>



      <inertial>

        <mass value="5.0"/>


        <origin
          xyz="0 0 0"/>


        <inertia
          ixx="0.05"
          ixy="0"
          ixz="0"
          iyy="0.05"
          iyz="0"
          izz="0.03"/>


      </inertial>


    </link>



    <joint name="torso_joint"
           type="fixed">


      <parent link="base_link"/>


      <child link="torso_link"/>


      <origin
        xyz="0 0 0.55"/>


    </joint>


  </xacro:macro>


</robot>

