<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- ===================== -->
  <!-- Materials -->
  <!-- ===================== -->


  <material name="arm_gray">
    <color rgba="0.65 0.65 0.65 1"/>
  </material>


  <material name="hand_black">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>



  <!-- ===================== -->
  <!-- Arm Macro -->
  <!-- ===================== -->


  <xacro:macro name="arm"
               params="prefix side">


    <!-- ================= -->
    <!-- Upper Arm -->
    <!-- ================= -->


    <link name="${prefix}_upper_arm">

<joint name="${prefix}_shoulder_joint"
       type="revolute">

  <parent link="torso_link"/>

  <child link="${prefix}_upper_arm"/>

  <origin
    xyz="0 ${side} 0.15"/>

  <axis xyz="1 0 0"/>

  <limit
    lower="-1.57"
    upper="1.57"
    effort="30"
    velocity="2"/>

</joint>

      <visual>

        <geometry>

          <cylinder
            radius="0.045"
            length="0.30"/>

        </geometry>


        <origin
          xyz="0 0 -0.15"/>


        <material name="arm_gray"/>

      </visual>




      <collision>

        <geometry>

          <cylinder
            radius="0.045"
            length="0.30"/>

        </geometry>


        <origin
          xyz="0 0 -0.15"/>


      </collision>




      <inertial>

        <mass value="0.8"/>


        <origin
          xyz="0 0 -0.15"/>


        <inertia

          ixx="0.006"

          ixy="0"

          ixz="0"

          iyy="0.006"

          iyz="0"

          izz="0.001"/>


      </inertial>


    </link>





    <!-- ================= -->
    <!-- Forearm -->
    <!-- ================= -->


    <link name="${prefix}_forearm">


      <visual>


        <geometry>

          <cylinder

            radius="0.035"

            length="0.25"/>


        </geometry>


        <origin

          xyz="0 0 -0.125"/>


        <material name="arm_gray"/>


      </visual>





      <collision>


        <geometry>

          <cylinder

            radius="0.035"

            length="0.25"/>


        </geometry>


        <origin

          xyz="0 0 -0.125"/>


      </collision>





      <inertial>


        <mass value="0.5"/>


        <origin

          xyz="0 0 -0.125"/>



        <inertia

          ixx="0.003"

          ixy="0"

          ixz="0"

          iyy="0.003"

          iyz="0"

          izz="0.0008"/>


      </inertial>


    </link>





    <!-- ================= -->
    <!-- Hand -->
    <!-- ================= -->


    <link name="${prefix}_hand">


      <visual>


        <geometry>


          <box size="0.12 0.08 0.05"/>


        </geometry>



        <origin

          xyz="0 -0.02 -0.025"/>



        <material name="hand_black"/>


      </visual>





      <collision>


        <geometry>


          <box size="0.12 0.08 0.05"/>


        </geometry>



        <origin

          xyz="0 -0.02 -0.025"/>


      </collision>





      <inertial>


        <mass value="0.2"/>


        <origin

          xyz="0 -0.02 -0.025"/>


        <inertia

          ixx="0.0005"

          ixy="0"

          ixz="0"

          iyy="0.0005"

          iyz="0"

          izz="0.0005"/>


      </inertial>


    </link>





    <!-- ================= -->
    <!-- Elbow Joint -->
    <!-- ================= -->


    <joint name="${prefix}_elbow_joint"
            type="revolute">


      <parent link="${prefix}_upper_arm"/>


      <child link="${prefix}_forearm"/>


      <origin

        xyz="0 0 -0.30"/>



      <axis xyz="1 0 0"/>



      <limit

        lower="-2.0"

        upper="0"

        effort="30"

        velocity="2"/>


    </joint>





    <!-- ================= -->
    <!-- Wrist Joint -->
    <!-- ================= -->


    <joint name="${prefix}_wrist_joint"
            type="fixed">


      <parent link="${prefix}_forearm"/>


      <child link="${prefix}_hand"/>


      <origin

        xyz="0 0 -0.25"/>



    </joint>



  </xacro:macro>


</robot>

