<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="humanoid_v1_7">


  <!-- ================= -->
  <!-- Include Modules -->
  <!-- ================= -->


  <xacro:include
    filename="$(find humanoid_description)/urdf/modules/legs.xacro"/>


  <xacro:include
    filename="$(find humanoid_description)/urdf/modules/pelvis.xacro"/>



  <!-- ================= -->
  <!-- Robot Root -->
  <!-- ================= -->


  <link name="base_link">

  </link>



  <!-- ================= -->
  <!-- Pelvis -->
  <!-- ================= -->


  <xacro:pelvis/>



  <!-- ================= -->
  <!-- Base To Pelvis -->
  <!-- ================= -->


  <joint name="base_to_pelvis"
         type="fixed">


    <parent link="base_link"/>


    <child link="pelvis_link"/>


    <origin
      xyz="0 0 0.85"/>


  </joint>




  <!-- ================= -->
  <!-- Legs -->
  <!-- ================= -->


  <xacro:leg
    prefix="left"/>


  <xacro:leg
    prefix="right"/>




  <!-- ================= -->
  <!-- Left Hip -->
  <!-- ================= -->


  <joint name="left_hip_joint"
         type="revolute">


    <parent link="pelvis_link"/>


    <child link="left_thigh"/>


    <origin
      xyz="0 0.15 0"/>


    <axis
      xyz="1 0 0"/>


    <limit
      lower="-1.57"
      upper="1.57"
      effort="20"
      velocity="1"/>


  </joint>




  <!-- ================= -->
  <!-- Right Hip -->
  <!-- ================= -->


  <joint name="right_hip_joint"
         type="revolute">


    <parent link="pelvis_link"/>


    <child link="right_thigh"/>


    <origin
      xyz="0 -0.15 0"/>


    <axis
      xyz="1 0 0"/>


    <limit
      lower="-1.57"
      upper="1.57"
      effort="20"
      velocity="1"/>


  </joint>



</robot>


