<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="humanoid_v1_5">


  <!-- ================= -->
  <!-- Include Modules -->
  <!-- ================= -->


  <xacro:include
    filename="$(find humanoid_description)/urdf/modules/legs.xacro"/>



  <!-- ================= -->
  <!-- Base -->
  <!-- ================= -->


  <link name="base_link">

    <visual>

      <geometry>

        <box size="0.4 0.25 0.5"/>

      </geometry>


      <origin xyz="0 0 0.25"/>


      <material name="blue">

        <color rgba="0 0 1 1"/>

      </material>


    </visual>


  </link>



  <!-- ================= -->
  <!-- Left Leg -->
  <!-- ================= -->


  <xacro:leg
    prefix="left"/>



  <!-- ================= -->
  <!-- Right Leg -->
  <!-- ================= -->


  <xacro:leg
    prefix="right"/>



  <!-- ================= -->
  <!-- Hip Joints -->
  <!-- ================= -->


  <joint name="left_hip_joint"
         type="revolute">


    <parent link="base_link"/>

    <child link="left_thigh"/>


    <origin
      xyz="0 0.15 0"/>


    <axis xyz="1 0 0"/>


    <limit
      lower="-1.57"
      upper="1.57"
      effort="10"
      velocity="1"/>


  </joint>



  <joint name="right_hip_joint"
         type="revolute">


    <parent link="base_link"/>

    <child link="right_thigh"/>


    <origin
      xyz="0 -0.15 0"/>


    <axis xyz="1 0 0"/>


    <limit
      lower="-1.57"
      upper="1.57"
      effort="10"
      velocity="1"/>


  </joint>



</robot>

