
<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">


  <!-- ===================== -->
  <!-- Materials -->
  <!-- ===================== -->


  <material name="leg_gray">
    <color rgba="0.55 0.55 0.55 1"/>
  </material>


  <material name="foot_black">
    <color rgba="0.1 0.1 0.1 1"/>
  </material>



  <!-- ===================== -->
  <!-- Leg Macro -->
  <!-- ===================== -->


  <xacro:macro name="leg"
               params="prefix">


    <!-- ================= -->
    <!-- Thigh -->
    <!-- ================= -->


    <link name="${prefix}_thigh">


      <visual>

        <geometry>

          <cylinder
            radius="0.065"
            length="0.35"/>

        </geometry>


        <origin
          xyz="0 0 -0.175"/>


        <material name="leg_gray"/>

      </visual>



      <collision>

        <geometry>

          <cylinder
            radius="0.065"
            length="0.35"/>

        </geometry>


        <origin
          xyz="0 0 -0.175"/>

      </collision>



      <inertial>

        <mass value="1.5"/>


        <origin
          xyz="0 0 -0.175"/>


        <inertia

          ixx="0.015"

          ixy="0"

          ixz="0"

          iyy="0.015"

          iyz="0"

          izz="0.003"/>

      </inertial>


    </link>




    <!-- ================= -->
    <!-- Shin -->
    <!-- ================= -->


    <link name="${prefix}_shin">


      <visual>

        <geometry>

          <cylinder
            radius="0.055"
            length="0.35"/>

        </geometry>


        <origin
          xyz="0 0 -0.175"/>


        <material name="leg_gray"/>

      </visual>



      <collision>

        <geometry>

          <cylinder
            radius="0.055"
            length="0.35"/>

        </geometry>


        <origin
          xyz="0 0 -0.175"/>


      </collision>




      <inertial>

        <mass value="1.0"/>


        <origin
          xyz="0 0 -0.175"/>


        <inertia

          ixx="0.01"

          ixy="0"

          ixz="0"

          iyy="0.01"

          iyz="0"

          izz="0.002"/>


      </inertial>


    </link>





    <!-- ================= -->
    <!-- Foot -->
    <!-- ================= -->


    <link name="${prefix}_foot">


      <visual>


        <geometry>

          <box size="0.25 0.14 0.08"/>

        </geometry>


        <origin
          xyz="0.08 0 -0.04"/>


        <material name="foot_black"/>


      </visual>



      <collision>


        <geometry>

          <box size="0.25 0.14 0.08"/>

        </geometry>


        <origin
          xyz="0.08 0 -0.04"/>


      </collision>




      <inertial>


        <mass value="0.5"/>


        <origin
          xyz="0.08 0 -0.04"/>


        <inertia

          ixx="0.002"

          ixy="0"

          ixz="0"

          iyy="0.004"

          iyz="0"

          izz="0.005"/>


      </inertial>


    </link>





    <!-- ================= -->
    <!-- Knee Joint -->
    <!-- ================= -->


    <joint name="${prefix}_knee_joint"
            type="revolute">


      <parent link="${prefix}_thigh"/>

      <child link="${prefix}_shin"/>


      <origin
        xyz="0 0 -0.35"/>


      <axis xyz="1 0 0"/>


      <limit

        lower="0"

        upper="2.5"

        effort="50"

        velocity="2"/>


    </joint>





    <!-- ================= -->
    <!-- Ankle Joint -->
    <!-- ================= -->


    <joint name="${prefix}_ankle_joint"
            type="fixed">


      <parent link="${prefix}_shin"/>

      <child link="${prefix}_foot"/>


      <origin
        xyz="0 0 -0.35"/>


    </joint>



  </xacro:macro>


</robot>
