<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"
       name="humanoid_v2_8">


  <!-- ================= -->
  <!-- Include Modules -->
  <!-- ================= -->


  <xacro:include
    filename="$(find humanoid_description)/urdf/modules/legs.xacro"/>

  <xacro:include
    filename="$(find humanoid_description)/urdf/modules/ros2_control.xacro"/>

 <xacro:include
    filename="$(find humanoid_description)/urdf/modules/gazebo_control.xacro"/>


  <xacro:include
    filename="$(find humanoid_description)/urdf/modules/pelvis.xacro"/>


  <xacro:include
    filename="$(find humanoid_description)/urdf/modules/torso.xacro"/>


  <xacro:include
    filename="$(find humanoid_description)/urdf/modules/arms.xacro"/>


  <xacro:include
    filename="$(find humanoid_description)/urdf/modules/head.xacro"/>




  <!-- ================= -->
  <!-- Base -->
  <!-- ================= -->


  <link name="base_link">


    <visual>

      <geometry>

        <box size="0.4 0.25 0.5"/>

      </geometry>


      <origin
        xyz="0 0 0.25"/>


      <material name="blue">

        <color rgba="0 0 1 1"/>

      </material>


    </visual>



    <collision>

      <geometry>

        <box size="0.4 0.25 0.5"/>

      </geometry>


      <origin
        xyz="0 0 0.25"/>

    </collision>



    <inertial>

      <mass value="5"/>


      <origin
        xyz="0 0 0.25"/>


      <inertia

        ixx="0.05"

        ixy="0"

        ixz="0"

        iyy="0.05"

        iyz="0"

        izz="0.05"/>


    </inertial>


  </link>




  <!-- ================= -->
  <!-- Pelvis -->
  <!-- ================= -->


  <xacro:pelvis/>


  <joint name="base_to_pelvis"
         type="fixed">


    <parent link="base_link"/>

    <child link="pelvis_link"/>


    <origin
      xyz="0 0 0.85"/>


  </joint>





  <!-- ================= -->
  <!-- Torso -->
  <!-- ================= -->


  <xacro:torso/>


  <joint name="pelvis_to_torso"
         type="fixed">


    <parent link="pelvis_link"/>

    <child link="torso_link"/>


    <origin
      xyz="0 0 0.35"/>


  </joint>




  <!-- ================= -->
  <!-- Legs -->
  <!-- ================= -->


  <xacro:leg prefix="left"
             side_y="0.15"/>

  <xacro:leg prefix="right"
             side_y="0.15"/>




  <!-- ================= -->
  <!-- Arms -->
  <!-- ================= -->


  <xacro:arm prefix="left"
             side_y="0.25"/>

  <xacro:arm prefix="right"
             side_y="0.25"/>




  <!-- ================= -->
  <!-- Head -->
  <!-- ================= -->


  <xacro:head/>

</robot>
